<div class="row">
  <table class="table table-condensed" >
    <tr>
        <th>Nome: </th>
        <th>Id:</th>
        <th>isjedi:</th>
        <th>Templo:</th>
    </tr>
    <tr class= "table-primary">
      <td><input class="form-control" name="nome" [(ngModel)] = 'estudante.nome' placeholder="nome" ></td>
      <td>{{estudante.id}}</td>
      <td>{{estudante.isJedi}}</td>
      <td>{{estudante.templo}}</td>
    </tr>
  </table>
</div>

<div>
  <button (click)="voltar()">voltar</button>
  <button (click)="salvar()">Salvar</button> 
</div>
