.selected {
    background-color: rgb(43, 223, 148) ;
    color: white;
    }
    .teste{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(108, 194, 216);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    }
    .teste .selected:hover {
    background-color: rgb(163, 219, 191);
    color: white;
    }
    .teste:hover {
    color: rgb(14, 23, 100);
    background-color: rgb(135, 238, 94);
    left: .1em;
    }
    .teste tr{
    position: relative;
    top: -3px;
    }
    .teste tr .badge {
    display: inline-block;
    font-size: small;
    color: rgb(221, 238, 125);
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(118, 209, 167);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    }