<div class="row">
    <div class="col-md-12">
        <div class="row">
            <table class="table table-condensed">
                <thead>
                    <label><h2>Lista de estudantes</h2></label>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Opções</th>
                    </tr>
                    <tr class="teste" *ngFor="let estudante of estudantes" routerLink='/detalhe/{{estudante.id}}'>
                        <td><a>{{estudante.id}}</a></td>
                        <td>{{estudante.nome}}</td>
                        <td>
                            <button class="delete" title="Remove estudante" (click)="remover(estudante)">Deletar</button>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- Adiciona um novo Estudante -->
<form>
    <div class="row">
        <div class="col">
            <label>Estudante:
                <input #nome placeholder="Nome do estudante"/>
            </label>
        </div>
        <div class="col">
            <label>É Jedi?
                <input #isJedi placeholder="Estudante é um Jedi?(true/false)"/>
            </label>
        </div>
        <div class="col">
            <label>Templo:
                <input #templo placeholder="nome do templo"/>
            </label>
        </div>
        <div class="col">
            <button (click)="adicionar(nome.value, isJedi.value, templo.value); nome.value='';isJedi.value='';templo.value=''; ">Adicionar</button>
        </div>
    </div>
</form>