<div class="row">

    <div class="col-md-12">

        <div class="row">
            <table class="table table-condensed">
                    <thead>
                        <label><h2>Lista de estudantes</h2></label>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                        </tr>
                        <tr class="teste" *ngFor="let estudante of estudantes" routerLink='/detalhe/{{estudante.id}}'>
                            <td><a>{{estudante.id}}</a>
                            </td>
                            <td>{{estudante.nome}}</td>
                        </tr>
                    </thead>

                </table>
        </div>


    </div>

</div>




